/* main_red.css

CLANS Web Viewer, an web application for proteinclassification.
Copyright (C) 2012 Jens Rauch

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses.*/
body {
	width: 1000px;
	margin: auto;
	padding-top: 20px;
	background-color: black; 
	background-image: 
  	linear-gradient(rgba(64,1,1,0.1) .05em, transparent .05em);
	background-size: 100% 1.2em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 14px;
}
#black {
	float: left;
	clear: left;
	width: 300px;
	margin: 15px;
}
#swatch {
	width: 50px;
	height: 40px;
	margin-top: 18px;
	margin-left: 340px;
	background-image: none;
}
.stext {
    margin: 0px auto;
	text-align: left;
}
.ltext {
	padding-left: 10px;
	text-align: left;
}
#pointcheck {
	 border-bottom: 5px solid #F0F1F2;
	 white-space: nowrap;
	 display: inline-block;
}
.bookmark {
	font-size: 18px;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}
.grpnr {
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px grey;
}
.hiddengrps {
	background-color: white;
    opacity: 0.5;
}
#headw {
	margin-bottom: 5px;
	background: #8C0303;
	width: 100%;
	height: 22px;
	color: white;
	box-shadow: 0px 1px 1px black;
	text-align: center;
	vertical-align: middle;
	text-shadow: 1px 1px 1px black;
	font-family: Arial,Verdana,Helvetica,sans-serif;
	font-size: 15px;
}
.headtextmenu {
	font-weight: bold;
	cursor: pointer;
}
a#headw:link,a#headw:visited {
	color: white;
}
#mainb {
	margin-bottom: 5px;
	margin: auto;
	background-color: #F0F1F2;
	width: 1000px;
	box-shadow: 1px 1px 5px #BFBFBF;
}
#header {
	background: #8C0303;
	width: 1000px;
	height: 100px;
	color: white;
	display: table-cell;
	vertical-align: middle;
	padding-right: 50px;
	text-align: right;
	box-shadow: 0px 1px 1px black;
	margin-bottom: 5px;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
#footer {
	background: #690000;
	width: 1000px;
	height: 40px;
	margin-top: 13px;
	color: white;
	display: table-cell;
	vertical-align: middle;
	padding-right: 50px;
	text-align: right;
	border-top: 1px solid #CECECE;
	text-shadow: 1px 1px 1px black;
	margin-bottom: 10px;
}
.mentry {
	height: 40px;
	font-size: 20px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 4px 4px;
	text-shadow: 1px 1px 1px black;
	background: #351E1E;
	box-shadow: 1px 1px 1px black;
	border-radius: 4px;
	cursor: pointer;
}
.mentryactive {
	height: 40px;
	font-size: 20px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 4px 4px;
	text-shadow: 1px 1px 1px black;
	background: #351E1E;
	box-shadow: -1px -1px 1px black;
	border-radius: 4px;
	cursor: pointer;
}
.htext {
	font-size: 30px;
	color: white;
	float: left;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 2px 4px;
	text-shadow: 1px 1px 1px black;
}
.htextadd {
	font-size: 20px;
	color: white;
	padding-top: 15px;
	float: left;
	display: inline;
	padding-top: 25px;
	text-shadow: 1px 1px 1px black;
}
a.htext:link, a.htext:hover, a.htext:active, a.htext:visited {
	text-decoration: none;
	color: white;
}
#ihome {
	display: inline-block;
	height: 25px;
	padding-left: 30px;
	background: url(../images/home.png) no-repeat;
}
#iupload {
	display: inline-block;
	height: 25px;
	padding-left: 30px;
	background: url(../images/arrow_smaller.png) no-repeat;
}
#ihelp {
	display: inline-block;
	height: 25px;
	padding-left: 15px;
	background: url(../images/quest.png) no-repeat;
}
.infopic {
	height: 22px;
	width: 22px;
	background: url(../images/info.png) no-repeat;
	margin: auto;
	display: inline-block;
}
.headtext {
	height: 22px;
	margin: auto;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}
.headtextmenu {
	height: 22px;
	float: left;
	display: inline-block;
	vertical-align: top;
	padding-left: 5px;
}
a.mentry:hover,a.mentry:active {
	font-size: 20px;
	vertical-align: middle;
	display: inline;
	margin: 0px 5px;
	padding: 2px 4px;
	text-shadow: 1px 1px 1px black;
	background: #753E3E;
	box-shadow: -1px -1px 1px black;
	border-radius: 4px;
	cursor: pointer;
}
input[type="string"], textarea {
	background-color: #fff;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
input[type="submit"] {
	background-color: #F9F9F9;
	color: black;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
input[type="submit"]:hover {
  background: #8C3C3C;
  text-shadow: none;
  color: white;
}
button {
	background-color: #F9F9F9;
	color: black;
	border: 1px solid #c4c4c4;
	padding: 4px 8px;
}
button:hover {
  background: #8C3C3C;
  text-shadow: none;
  color: white;
}
button.delete {
	background: #8C3C3C;
	text-shadow: none;
	color: white;
	border: red 1px solid;
}
button.delete:hover {
	background: #8C3C3C;
	text-shadow: none;
	color: white;
	border: red 1px solid;
}
button.confdelete {
	background: #8C3C3C;
	text-shadow: none;
	color: red;
	border: red 1px solid;
}
button.confdelete:hover {
	background: red;
	text-shadow: none;
	color: black;
	border: red 1px solid;
}
input[disabled] {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
input[disabled]:hover {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
button[disabled] {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
button[disabled]:hover {
  background: #F9F9F9;
  text-shadow: none;
  color: #CECECE;
}
#container {
	width: 100%;
	height: 600px;
	cursor: default;
	background: #F2F2F2;
}
.black {
	background: black;
}
.title{
	margin: auto;
	background-color: #848484;
	color: white;
}
a#mhelp:link,a#mhelp:hover,a#mhelp:active,a#mhelp:visited {
	text-decoration: none;
	color: white;
}
#wrapper {
margin: 0 auto;
position:relative;
}
.fs{
	position: absolute;
	left: 5px;
	top: 5px;
}
.wm{
	position: absolute;
	left: 5px;
	top: 55px;
}
.leg{
	position: absolute;
	left: 5px;
	top: 35px;
}
.cam{
	position: absolute;
	left: 5px;
	top: 485px;
}
.legmen{
	position: absolute;
	left: 5px;
	top: 65px;
	width: 200px;
	height: 420px;
	background-color: #848484;
	color: white;
	opacity:0.9;
}
.scrolltable {
	height: 370px;
	overflow: auto;
}
.evalmain {
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	vertical-align: middle;
	box-shadow: 1px 1px 1px black;
	border-radius: 2px;
	white-space: nowrap;
}
.evalb {
	position: absolute;
	top: 565px;
	left: 880px;
}
.emen{
	position: absolute;
	top: 365px;
	left: 845px;
	width: 150px;
	height: 200px;
	background-color: #848484;
	color: white;
	opacity:0.9;
	overflow: auto;
}
.seqnamemain {
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px black;
	white-space: nowrap;
	box-shadow: 1px 1px 2px black;
	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	padding-right: 5px;
	cursor: pointer;
}
.bars {

}
.tooltip {
	left: 0px;
	right: 0px;
	display: none;
	position: absolute;
	box-shadow: 2px 2px 1px rgba(0,0,0,0.9);
	border-radius: 4px;
	background: rgba(154,0,0,0.8);
	color: white; 
	text-shadow: 1px 1px 1px black;
	width: 300px;
	padding-left: 5px;
	padding-right: 5px;
}
#square {
	width: 10px;
	height: 10px;
}
.scroll {
	max-height: 600px;
	overflow: auto;
}
.log {
	width: 100%;
	height: 0px;
	overflow: auto;
	border: 1px dashed #232625;
}
.pblabel {
	position: absolute;
	width: 900px;
	text-align: center;
	line-height: 1.9em;
	text-shadow: 1px 1px 1px black;
}
.chooseclans {
	max-width: 600px;
	max-height: 200px;
	background-color: #fff;
	border: 1px solid #c4c4c4;
	padding: 2px 2px;
}
.bottom {
	height: 10px;
	margin-bottom: 10px;
	border-bottom: 10px double #363636;
	border-bottom-right-radius: 2px; 
	border-bottom-left-radius: 2px;
}
.singlepoints {
	white-space: nowrap;
}
#inner {
	margin-left: 10%;
	margin-right: 10%;
}
#mainsite {
	margin-top: 5px;
}
#grpview {
	margin-top: 5px;
}
#help {
	margin-top: 5px;
}
#ftpup {
	margin-top: 5px;
}
.optdark {
	background-color: #F6E5E5;
}
.optndark {
	background-color: #FFF;
}
.fooleft {
	float: left;
	padding-left: 30px;
}
.fooright {
	float: right;
	cursor: pointer;
}
.colred {
	background: #8C0303;
	box-shadow: 0px 0px 2px 2px black;
	margin-right: 5px;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
}
.colgreen {
	color: black;
	background: #B3D929;
	box-shadow: 0px 0px 2px 2px black;
	text-shadow: 1px 1px 1px white;
	margin-right: 5px;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
}
.align {
	display: inline-block;
	margin: 2px;
	box-shadow: 0px 0px 2px 2px black;
	padding: 2px;
	border-radius: 5px;
	cursor: pointer;
	color: black;
	font-weight: bold;
}
a.align:link, a.align:hover, a.align:active, a.align:visited {
	color: black;
	font-weight: bold;
}
.aligndiv {
	padding: 2px;
}