/* view.css

CLANS Web Viewer, an web application for proteinclassification.
Copyright (C) 2012 Jens Rauch

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program. If not, see http://www.gnu.org/licenses.*/
body {
	background-color: #232625;
	background-size: 100% 1.2em;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}
.desc {
	background: #647362;
	font-weight: bold;
	color: white;
}
.tab {
	background: gray;
	text-align: center;
}
.tabfield {
	background-color: #F0F1F2;
	padding: 3px;
}
.second {
	background-color: #E2E3E4;
	padding: 3px;
}
#container {
	width: 100%;
	height: 900px;
	cursor: default;
	background: #F0F1F2;
/*	background: white;*/
}
.debug {
	background: #F0F1F2;
	box-shadow: 1px 1px 2px black;
	border: 1px solid black;
}
#square {
	width: 10px;
	height: 10px;
}
